.msg{
    text-align: center;
}
.option{
   margin-left: 700px;
   width: 100px;
   height: 40px;
   border-radius: 40px;
   background: black;
   color: white;
   font-size: 20px;
   padding: 2px auto;
}